/* app.blade */
main {
  background-color: #FCCB8F;
}

/* header */
.navbar {
  position: relative;
  min-height: 7rem;
  background: rgb(255, 165, 0);
  background: linear-gradient(45deg, rgba(255, 165, 0, 1) 0%, rgba(254, 152, 24, 1) 35%, rgba(252, 139, 48, 1) 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-logo {
  height: 6rem;
  max-width: 100%;
}

.navbar-nav {
  margin-left: 10rem;
}

.navbar-nav .nav-link {
  font-size: 22px;
  line-height: 5rem;
  padding: 1rem;
  color: white !important;
}

/* footer */
.footer{
  background: rgb(255, 165, 0);
  background: linear-gradient(45deg, rgba(255, 165, 0, 1) 0%, rgba(254, 152, 24, 1) 35%, rgba(252, 139, 48, 1) 100%);
}

.footer p{
  color: white;
}

/* home.blade */
.card .card-header {
  background-color: #FAF096;
}

.dashboard-container .card-body {
  background-color:#F6F6E9;
}

.dashboard-container .card-header {
  font-weight: bold;
}

.friends-container .card-body {
  background-color: #ffffff;
}

.calendar-container .card-body {
  background-color: #ffffff;
}

.card-body a {
  color: black;
  text-decoration: none;
}

.map-container {
  height: 100%;
  overflow: hidden;
}

.map-container .card-body {
  background-color: none;
  padding: 0;
}

#map {
  height: 100%;
}

.fc {
  margin-bottom: 1em;
}

.fc-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.fc-header-toolbar {
  margin-bottom: 1em;
}

.fc-header-title {
  flex-grow: 1;
  text-align: center;
}

.fc-header-right {
  flex-grow: 1;
  text-align: right;
}

/* welcome.blade */
.body-welcome {
  font-family: 'Figtree', sans-serif;
  background-image: url('../build/assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card .welcome-container {
  max-width: 500px;
  padding: 2rem;
  background-color: transparent;
}

.welcome-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.button {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #dc2626;
}
.button.register {
  background-color: #ff5722;
}

.button.login {
  background-color: #4caf50;
}

.button.register:hover {
  background-color: #ff7847;
}

.button.login:hover {
  background-color: #4dbf77;
}

/* login.blade */
.login-container .card-body {
  background-color: #F6F6E9;
}

/* createEvent.blade */
.addfriends-container .row {
  display: flex;
  flex-wrap: wrap;
}

.addfriends-container .col-md-4 {
  flex-basis: 33.33%; /* Three columns per row on larger screens */
}

.checkbox-wrapper-16 *,
    .checkbox-wrapper-16 *:after,
    .checkbox-wrapper-16 *:before {
      box-sizing: border-box;
    }
  
.checkbox-wrapper-16 .checkbox-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #2260ff;
}
.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #2260ff;
  border-color: #2260ff;
}
.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-icon,
.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-label {
  color: #2260ff;
}
.checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}
.checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-wrapper-16 .checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7rem;
  min-height: 7rem;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}
.checkbox-wrapper-16 .checkbox-tile:before {
  content: "";
  position: absolute;
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.checkbox-wrapper-16 .checkbox-tile:hover {
  border-color: #2260ff;
}
.checkbox-wrapper-16 .checkbox-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-wrapper-16 .checkbox-icon {
  transition: 0.375s ease;
  color: #494949;
}
.checkbox-wrapper-16 .checkbox-icon svg {
  width: 3rem;
  height: 3rem;
}

.checkbox-wrapper-16 .checkbox-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
}

/* RESPONSIVE --- Small screens */
@media (max-width: 767.98px) {
  /* header */
  .navbar-nav {
    margin-left: 0;
  }
  .navbar-logo {
    margin-right: 1rem;
  }
  .navbar-nav .nav-link {
    line-height: 3rem;
    padding: 0.5rem 1rem;
    font-size: 14px;
  }

  /* welcome.blade */
  .welcome-container {
    text-align: center;
  }

  .button-container {
    flex-direction: column;
  }

  .button {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dashboard-container {
    margin: 1rem;
  }

  .card-header {
    font-size: 1.2rem;
  }

  .col-lg-6 {
    padding: 0.5rem;
  }

  /* .calendar-container {
    height: 200px;
  } */
  #full_calendar_events {
    width: 100%;
    margin: 0 auto;
  }

  .map-container {
    height: 100%;
    margin-bottom: 1rem;
  }

  .fc-header-right {
    text-align: left;
  }
}